<% layout('./layout/page') -%>
<% block('item1', '<li class="nav-item"><a class="nav-link" href="/login">Войти</a></li>') -%>
<% block('item2', '<li class="nav-item"><a class="nav-link" href="/reg">Регистрация</a></li>') -%>
<% block('title', error.message) -%>

<p>Извините, произошла ошибка.</p>

<p><%=error.message%></p>